Estilos generales * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h6 {
    text-align: center;
    padding: 20px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* 1. Posicionamiento con Flexbox  */
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.logo {
    order: 1;
}

.container-icons {
    order: 3;
}

.search {
    max-width: 300px;
    flex-grow: 4;
    order:2
}

.logo-flexbox {
    padding: 0 20px
}

.icon-flexbox {
    margin: 0 20px;
}

.icon-flexbox2 {
    margin: 0 20px;
}


/* MQ: Posicionamiento con Flexbox  */

@media screen and (max-width: 767px) {
    .flexbox {
        flex-direction: column;
    }
    .flexbox2 {
        display: flex;
        flex-direction: row;
    }
    .logo {
        order: 1;
    }
    .search {
        order: 3;
    }
    .container-icons {
        order: 2;
    }
}

/*  2. Posicionamiento con Position  */
.nav-position{
    position: relative;
    background-color: lightgrey;
    height: 80px;

}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.logo-absolute{
    top:20%;
    left:10%;
    background-color: yellow;
}

.search-absolute{
    top:30%;
    left:30%;
    background-color: green;
}

.icon-absolute{

    position: absolute;
    top:40%;

        left:80%;
        background-color: blueviolet;
    
}
.icon2-absolute{
    top:40%;

    position: absolute;

    left:90%;
    background-color: blue;

}
/*  3. Posicionamiento con Float  */
/*  4. Posicionamiento con Grid  */
.grid {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}